#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#playerScores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#player1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#player2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#row {
    display: flex;
    flex-direction: row;

}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    border: 5px;
    border-style: solid;
    border-color: black;


}

img {
    display: flex;
    height: 45px;
    width: 45px;
}